@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <a>bla bla bla</a>
</div>

<div class="row">
    <a>bla bla bla</a>
</div>
